@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components{
    .Login{
        @apply
        bg-[url(../../public/images/background.jpg)]
        bg-cover
        h-[100vh]
        flex
        items-center
        justify-center
        flex-col
    }
}

/* @layer components{
    .Register h1{
        @
    }
} */

@layer components{
    .Login .FormWithFeedback{
        @apply
        bg-gradient-to-b from-blueBackgroundBox
        p-3
        pt-0
        rounded-lg
        flex
        flex-col
        items-center
        gap-y-3
    }
}

@layer components{
    .Login .FormWithFeedback .Button{
        @apply
        text-white
        rounded-md
        mt-4
        hover:h-8
        hover:mt-3
        active:h-6
        active:mt-4
        px-3
        w-[100%]
    }
}




