@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
.Header{
    position: sticky;
    top: 0;
    color: #F9D978;
    display: flex;
    justify-content: space-between;
    background-color: #949E9A;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
} */


@layer components{
    .Header{
        @apply
        sticky
        bg-blueBackgroundBox
        top-0
        grid
        grid-cols-[1fr_3rem_3rem_2rem]
        items-center
        gap-3
        px-4
        h-12
    }
}

