@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --gold1: #ffbf00;
    --blueBackgroundBox: #949E9A;
    --black: #16161D;
    --red: #880808;
    --backgroundImage:url(../../public/images/background.jpg);

}


@layer base {
    body{
        @apply
        m-0
    }
}

@layer base {
    h1 {
        @apply
        text-3xl
        font-extrabold
    }
}

@layer base {
    h2 {
        @apply
        text-xl
        text-gold1
        mt-2
        font-semibold
    }
}

@layer base {
    * {
        @apply
        text-gold1
    }
}

@layer base {
    a{
        @apply
        text-black1
        font-medium
        visited:text-purple-600
    }
}