:root{
    --gold1: #F9D978;
    --blueBackgroundBox: #949E9A;
    --black: #16161D;
    --red: #880808;
    --translucidBlue: #949E9A 67%;
    --backgroundImage: url('../public/images/background.jpeg');
}

body{
    margin:0;
}